/* Наши базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

.main {
    text-align: center;
    padding: 60px 20px;
    background-color: #f0f0f0;
}

.nav-menu {
    display: flex;
    gap: 5vw;
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}

/* Добавляем флексбокс для шапки */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    gap: 25px;
}


/* Карточки с Flexbox */

.features h2 {
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
}

.features-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.feature-card {
    flex: 1 0 300px; 
    min-width: 250px;
    max-width: 350px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
} 

/* Кнопка */
.btn {
    display: inline-block;
    background: linear-gradient(rgb(59, 151, 187), rgb(31, 38, 77));
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
} 

/* Галерея на Grid */
.gallery {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.gallery-item {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
} 
